<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rusty Clock</title>
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
    <style>
      body {
        font-family: Helvetica, sans-serif;
        background-color: #3b4252;
        color: #eceff4;
      }

      #time-output {
        font-size: 3rem;
        font-weight: bold;
      }
    </style>
    <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.4" integrity="sha384-A986SAtodyH8eg8x8irJnYUk7i9inVQqYigD6qZ9evobksGNIXfeFvDwLSHcp31N" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <center>
      <h1>Rusty Clock Control Panel</h1>  
      <sub>Hosted on the ESP32-C3!</sub>
      <hr/>
    </center>

    <center>
      <div id="time-output" hx-ext="sse" sse-connect="/events" sse-swap="time">
          Contents of this box will be updated in real time
      </div>
    </center>

    <pre id="help-msg" hx-get="/help" hx-trigger="load"></pre>

    <button hx-get="/sync" hx-swap="innerHTML" hx-target="#time-output">
      Sync NTP
    </button>

    <button hx-get="/buzzer/toggle" hx-swap="none">
      Toggle Buzzer
    </button>

    <button hx-get="/alarm" hx-target="alarm-output">
      Get Alarm Time
    </button>


    <div id="alarm-counter" x-data="{ hour: 0, min: 0, sec: 0 }">
      <!-- <button @click="count++">Increment</button> -->
      <!-- <button @click="count--">Decrement</button> -->
      <!-- <span x-text="count"></span> -->
      
      <form hx-post="/alarm_submit" hx-target="#response-div">
        <input type="number" name="hour" placeholder="Hour" :value="hour">
        <input type="number" name="min" placeholder="Minute" :value="min">
        <input type="number" name="sec" placeholder="Second" :value="sec">
        <label>
          <input type="checkbox" name="is_utc">
          UTC
        </label>
        
        <button type="submit">Submit</button>
      </form>
    </div>

    <div id="response-div">
      Awaiting response
    </div>
    
    
    <p>Alarm: <span id="alarm-output" hx-get="/alarm" hx-trigger="load"></span> </p>
  </body>
</html>
 
